*,
::after,
::before {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-box {
    width: 100px;
    height: 100px;
    background-color: red;
}

.green-box {
    width: 100px;
    height: 100px;
    background-color: green;
}

.blue-box {
    width: 100px;
    height: 100px;
    background-color: blue;
}